:root{
    --dark: #011023;
    --violeClair : #6c24dd;
    --violetFoncé: #1c043c;
    --bleu: #0000ff;
    --vert: #5dd29b;
    --jaune: #f1e469;
    --orange : #f1793c;
    --rouge : #ff0000;
    --white: #FFFFFF
}

@font-face {
	font-family: 'raph';
	src: url('./font/RaphLanokFuture.ttf') format("truetype"),
}

.rouge{
    color: var(--rouge);
}
.vert{
    color: var(--vert);
}
.jaune{
    color: var(--jaune);
}
.bgJaune{
    background-color: var(--jaune);
}
.dark{
    color: var(--dark);
}
.orange{
    color: var(--orange);
}

.fontRaph{
    font-family: 'raph';
}
.background{
    background-color: var(--violetFoncé);
    width: 100%;
    color: var(--white);
}
.backgroundVF{
    background-color: var(--dark);
    color: var(--white);
}
.logo{
    height: 300px;
    width: 300px;
    margin-top: 30px;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.codeSource{
    height: 200px;
    width: 90%;
}
.codeSource1{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.codeSource2{
    height: 300px;
}